<div class="modal-overlay" (click)="cerrar()">
  <div class="book-page" (click)="$event.stopPropagation()">
    <button class="close-btn" (click)="cerrar()">&times;</button>
    <h2>Historia del Templo de San Cayetano</h2>
    <div class="content">
      <p>El 11 de diciembre de 1869 se constituye la Sociedad Damas de la Caridad con el noble propósito del socorro y
        sostenimiento de los huérfanos y expósitos; el visitar a los enfermos y a los pobres; visitar y socorrer a los
        encarcelados. La sociedad se pone bajo el patrocinio de San Cayetano.</p>
      <p> La primera presidenta de la institución fue la Sra. María de los Ángeles Rodríguez de Rosas. quien junto a su
        esposo Juan Antonio Rosas, el 25 de agosto de 1871 hacen donación del solar destinado a levantarse el Hospicio
        de Huérfanos situado en la calle Comercio (hoy Laprida).</p>
      <p>La piedra fundamental del hospicio se colocó el 9 de Julio de 1874, bendecida por Fray Luis Rossi Desideri; en
        el año 1879 las Hermanas del Huerto aceptaron el compromiso de regentear el Hospicio de Huérfanos confiado por
        las Damas de Caridad, para entonces ya estaban construídos 8 salones; y se inaugura el Hogar del Huérfano el 13
        de abril de 1879 y se colocó como Patrono Particular del lugar a San Vicente de Paul, el ilustre santo de los
        suburbios parisinos, el santo de la niñez abandonada.</p>

      <p>María de los Ángeles Rodríguez de Rosas y Juan Antonio Rosas concretan la donación del terreno (cito en la
        Calle Buenos Aires, entre Riobamba y Cerrito), a la Sociedad Damas de la Caridad, para la construcción del
        Templo a San Cayetano en el año 1894. El templo lo costeó la Sociedad de las Damas de la Caridad.</p>
      <p> El Pbro. Dr. José María Sanchez, sacerdote español, llegado a la ciudad para desempeñar cátedras en el Colegio
        Nacional N° 1, de cuyo claustro profesoral formó parte, fue el alma mater de la construcción del Templo a San
        Cayetano.</p>
      <p> El proyecto de construcción fue confiado al Sr. Ulises Lazzari, conocido empresario de la localidad en el ramo
        de la construcción, quien se dio a la tarea de elaborar los planos del templo monumental. La construcción la
        continúa hasta el 12 de Julio de 1917 y el 20 de Noviembre del mismo año, se hace cargo de las obras el Sr. Juan
        Llinás, culminándola el año 1919 e inaugurándose y bendiciéndose el 19 de Octubre del mismo año.</p>
      <p> La Sociedad Damas de la Caridad donó el templo de San Cayetano al Arzobispado de Rosario el 25 de Octubre del
        año 1952.</p>
      <p> El 7 de Agosto del año 2010 Mons. Mollaghan lo declara Santuario Arquidiocesano y el 5 de Diciembre del mismo
        año Parroquia.</p>

      <h3>Celebraciones del Centenario </h3>
      <p>El primero de Diciembre del 2018, Mons. Damian Nannini (Obispo de San Miguel) celebró la Misa de Apertura de la
        puerta santa, inaugurando el Centenario del Templo y pudiéndose ganar las Indulgencias Plenarias.</p>
      <p> A lo largo del año se realizaron diferentes eventos pastorales y misioneros: la Misión con la imagen de San
        Cayetano durante los tiempos litúrgicos de Adviento y Navidad, la Adoración Eucarística durante las horas de la
        tarde desde el 1 de Diciembre del 2018 al 24 de Noviembre del 2019, y contamos con la presencia de tres Obispos
        que vinieron a afirmarnos en la fe: Mons. Luis Collazuol, Mons. Héctor Sabatino Cardelli y Mons. Sergio Fenoy.
      </p>
      <p> El 19 de diciembre Mons. Eduardo Eliseo Martín presidió la Santa Misa de Acción de Gracias, bendiciendo la
        placa recordatoria del Centenario del Templo. </p>

      <p> El Santuario y parroquia de San Cayetano, actualmente sigue su vida en la presencia de Jesús resucitado y
        vivo, siendo muy grande la comunidad que se convoca y ora al Señor.</p>
      <p> Cada año la comunidad cristiana vibra de modo particular y la gracia de Dios se derrama en la fiesta de San
        Cayetano cada 7 de agosto.
      </p>
    </div>
  </div>
</div>