<div class="card">
    <img src="assets/images/comunidad/comunidad-secretaria.jpg" alt="Secretaria">
    <div class="card-info">
      <h3>Secretaria</h3>
      <ul class="card-menu">
        <li (click)="mostrarReqBautismos = true">
          <i class="fa-solid fa-chevron-right"></i> Requisitos para Bautismos
        </li>
        <li (click)="mostrarReqCatequesis = true">
          <i class="fa-solid fa-chevron-right"></i> Catequesis de niños
        </li>
        <li (click)="mostrarReqCasamientos = true">
          <i class="fa-solid fa-chevron-right"></i> Requisitos para Casamientos
        </li>
        <li (click)="mostrarInfoMisas = true">
          <i class="fa-solid fa-chevron-right"></i> Información de Misas y Confesiones
        </li>
        <li (click)="mostrarSanteria = true">
          <i class="fa-solid fa-chevron-right"></i> Santeria
        </li>
      </ul>

     <app-whatsapp></app-whatsapp> 
    </div>
  </div>


  <app-req-bautismos *ngIf="mostrarReqBautismos" (close)="mostrarReqBautismos = false"></app-req-bautismos>
  <app-req-catequesis *ngIf="mostrarReqCatequesis" (close)="mostrarReqCatequesis = false"></app-req-catequesis>
  <app-req-casamientos *ngIf="mostrarReqCasamientos" (close)="mostrarReqCasamientos = false"></app-req-casamientos>
  <app-info-misas *ngIf="mostrarInfoMisas" (close)="mostrarInfoMisas = false"></app-info-misas>
  <app-santeria *ngIf="mostrarSanteria" (close)="mostrarSanteria = false"> </app-santeria>
