<section class="info-cultura">

   <!-- <div class="carousel-wrapper"> -->
      <!-- Flecha Izquierda -->
      <!-- <button class="arrow-btn left" id="prevBtn"><i class="fa-solid fa-chevron-left"></i></button> -->


    <div class="info-card" (click)="mostrarHistoria = true">
      <img src="assets/images/cultura/historia/historia.jpg" alt="Historia">
      <h3 (click)="mostrarHistoria = true">Nuestra Historia</h3>
    </div>
  
    <div class="info-card" (click)="mostrarBiografia = true">
      <img src="assets/images/cultura/biografia/sancayetano.jpg" alt="San Cayetano">
      <h3 (click)="mostrarBiografia = true">¿Quién fue San Cayetano?</h3>
    </div>

    <!-- Flecha Derecha -->
    <!-- <button class="arrow-btn right" id="nextBtn"><i class="fa-solid fa-chevron-right"></i></button> -->
  <!-- </div> -->
  </section>
  
  <!-- El componente de texto que está oculto -->
  <app-historia-modal *ngIf="mostrarHistoria" (close)="mostrarHistoria = false"></app-historia-modal>
  <app-biografia-modal *ngIf="mostrarBiografia" (close)="mostrarBiografia = false"></app-biografia-modal>
