<section class="info-cultura">
    <div class="info-card" (click)="mostrarHistoria = true">
      <img src="assets/iglesia2.jpg" alt="Historia">
      <!-- <h3>Nuestra Historia</h3>
      <button (click)="mostrarHistoria = true">Conocer más</button> -->
      <!-- <button (click)="mostrarHistoria = true">Nuestra Historia</button> -->
      <h3 (click)="mostrarHistoria = true">Nuestra Historia</h3>
    </div>
  
    <div class="info-card" (click)="mostrarBiografia = true">
      <img src="assets/sancayetano1.jpg" alt="San Cayetano">
      <!-- <h3>¿Quién fue San Cayetano?</h3>
      <button (click)="mostrarBiografia = true">Ver Biografía</button> -->
      <!-- <button (click)="mostrarBiografia = true">¿Quién fue San Cayetano?</button> -->
      <h3 (click)="mostrarBiografia = true">¿Quién fue San Cayetano?</h3>
    </div>
  </section>
  
  <!-- El componente de texto que está oculto -->
  <app-historia-modal *ngIf="mostrarHistoria" (close)="mostrarHistoria = false"></app-historia-modal>
  <app-biografia-modal *ngIf="mostrarBiografia" (close)="mostrarBiografia = false"></app-biografia-modal>
