<section id="comunidad" class="comunidad-grid">
  <h2>Nuestra Comunidad</h2>

  <div class="carousel-wrapper">
    <!-- Flecha Izquierda -->
    <button class="arrow-btn left" id="prevBtn"><i class="fa-solid fa-chevron-left"></i></button>

    <div class="cards-container" id="carouselContainer" #carouselContainer [class.active]="isDown"
      (mousedown)="onMouseDown($event)" (mouseleave)="onMouseLeave()" (mouseup)="onMouseUp()"
      (mousemove)="onMouseMove($event)">
      <!-- Tarjeta Secretaria -->

      <!-- <app-secretaria class="card"></app-secretaria> -->
      <app-secretaria></app-secretaria>
      <app-catequesis></app-catequesis>

      <!-- Tarjeta Catequesis -->
      <div class="card">
        <img src="assets/images/comunidad/comunidad-catequesis.jpg" alt="Catequesis">
        <div class="card-info">
          <h3>Catequesis</h3>
          <ul class="card-menu">
            <li (click)="mostrarCatNinos = true">
              <i class="fa-solid fa-chevron-right"></i> Catequesis de niños
            </li>
            <li (click)="mostrarCatAdol = true">
              <i class="fa-solid fa-chevron-right"></i> Catequesis de adolescentes
            </li>
            <li (click)="mostrarCatJovAdul = true">
              <i class="fa-solid fa-chevron-right"></i> Catequesis para Jovenes y Catecumenado de Adultos
            </li>
            <li (click)="mostrarCatMatrimonios = true">
              <i class="fa-solid fa-chevron-right"></i> Catequesis para Matrimonios
            </li>
            <li (click)="mostrarAlpha = true">
              <i class="fa-solid fa-chevron-right"></i> Alpha
            </li>
          </ul>

          <a href="https://wa.me/3413535467" target="_blank" class="btn-whatsapp">
            <i class="fa-brands fa-whatsapp"></i> Participar
          </a>
        </div>
      </div>
      <app-cat-nino *ngIf="mostrarCatNinos" (close)="mostrarCatNinos = false"></app-cat-nino>
      <app-cat-adol *ngIf="mostrarCatAdol" (close)="mostrarCatAdol = false"></app-cat-adol>
      <app-cat-jov-adul *ngIf="mostrarCatJovAdul" (close)="mostrarCatJovAdul = false"></app-cat-jov-adul>
      <app-cat-matrimonios *ngIf="mostrarCatMatrimonios" (close)="mostrarCatMatrimonios = false"></app-cat-matrimonios>
      <app-cat-alpha *ngIf="mostrarAlpha" (close)="mostrarAlpha = false"> </app-cat-alpha>










      <div class="card">
        <img src="assets/iglesia4.jpg" alt="Catequesis">
        <div class="card-info">
          <h3>Alpha</h3>
          <p>Vaya uno a saber lo que se hace aca.</p>
          <a href="https://wa.me/TUNUMERO" target="_blank" class="btn-whatsapp">
            <i class="fa-brands fa-whatsapp"></i> Participar
          </a>
        </div>
      </div>


      <!-- <div class="card">
      <img src="assets/confesion.jpg" alt="Imagen">
      <div class="card-info">
        <h3>Confesion</h3>
        <p>Visitanos cuando quieras</p>
        <a href="https://wa.me/TUNUMERO" target="_blank" class="btn-whatsapp">
          <i class="fa-brands fa-whatsapp"></i> Participar
        </a>
      </div>
    </div> -->

      <!-- Tarjeta Extra -->
      <div class="card">
        <img src="assets/sancayetano3.jpg" alt="Imagen">
        <div class="card-info">
          <h3>Misas</h3>
          <p>Nos comparte el padre Marcelo la palabra de Dios.</p>
          <a href="https://wa.me/TUNUMERO" target="_blank" class="btn-whatsapp">
            <i class="fa-brands fa-whatsapp"></i> Participar
          </a>
        </div>
      </div>

    </div>
    <button class="arrow-btn right" id="nextBtn"><i class="fa-solid fa-chevron-right"></i></button>
  </div>
</section>