 <div class="social-card">
      <div class="ig-header">
        <i class="fa-brands fa-instagram"></i>
        <span>@sancayetanorosario</span>
      </div>
    
      <div class="ig-body">
        <span>El patrono del pan y del trabajo</span>
        <div class="ig-grid">
          <!-- Foto 1 -->
          <a href="https://www.instagram.com/sancayetanorosario/" target="_blank">
            <img src="assets/images/redes-insta/catequesis.webp" alt="Foto Instagram">
          </a>
          <!-- Foto 2 -->
          <a href="https://www.instagram.com/sancayetanorosario/" target="_blank">
            <img src="assets/images/redes-insta/sancayetano-insta.webp" alt="Foto Instagram">
          </a>
          <!-- Foto 3 (El QR) -->
          <a href="https://www.instagram.com/sancayetanorosario/" target="_blank">
            <img src="assets/images/redes-insta/comunidad.webp" alt="Foto Instagram">
          </a>
          <!-- Foto 4 (Sugerencia: Repetí una o agregá otra para completar el cuadrado) -->
          <a href="https://www.instagram.com/sancayetanorosario/" target="_blank">
            <img src="assets/images/redes-insta/sancayetano-insta2.webp" alt="Foto Instagram">
          </a>
        </div>
    
        <a href="https://www.instagram.com/sancayetanorosario/" target="_blank" class="ig-btn">
          Ver en Instagram
        </a>
      </div>
    </div>