<section id="comunidad" class="comunidad-grid">
  <h2>Nuestra Comunidad</h2>

  <div class="carousel-wrapper">
    <!-- Flecha Izquierda -->
    <button class="arrow-btn left" id="prevBtn"><i class="fa-solid fa-chevron-left"></i></button>

  <div class="cards-container" id="carouselContainer">
    <!-- Tarjeta Secretaria -->
    <div class="card">
      <img src="assets/misa1.jpg" alt="Secretaria">
      <div class="card-info">
        <h3>Secretaria</h3>
        
        <ul class="card-menu">
          <li (click)="mostrarReqBautismos = true">
            <i class="fa-solid fa-chevron-right"></i> Requisitos para Bautismos
          </li>
          <li (click)="mostrarReqBautismos = true">
            <i class="fa-solid fa-chevron-right"></i> Información de Matrimonios
          </li>
          <li (click)="mostrarReqBautismos = true">
            <i class="fa-solid fa-chevron-right"></i> Catequesis de niños
          </li>
          <li (click)="mostrarReqBautismos = true">
            <i class="fa-solid fa-chevron-right"></i> Misas y Confesiones
          </li>
        </ul>
    
        <a href="https://wa.me/3416351512" target="_blank" class="btn-whatsapp">
          <i class="fa-brands fa-whatsapp"></i> Contactanos
        </a>
      </div>
    </div>

   
  

    <!-- Tarjeta Catequesis -->
    <div class="card">
      <img src="assets/oraciones.jpg" alt="Oraciones">
      <div class="card-info">
        <h3>Oraciones</h3>
        <p>Novena, Oracion 1 y Oracion 2.</p>
        <!-- <a href="https://wa.me/TUNUMERO" target="_blank" class="btn-whatsapp"> -->
          <!-- <i class="fa-brands fa-whatsapp"></i> Participar -->
        <!-- </a> -->
      </div>
    </div>

    <!-- Tarjeta Cáritas -->
    <div class="card">
      <img src="assets/caritas1.jpg" alt="Cáritas">
      <div class="card-info">
        <h3>Cáritas</h3>
        <p>Fundación San Cayetano de Thiene</p>
        <!-- <p>Recibimos donaciones los martes y jueves de 16 a 18 hs.</p> -->
        <a href="https://wa.me/TUNUMERO" target="_blank" class="btn-whatsapp">
          <i class="fa-brands fa-whatsapp"></i> Participar
        </a>
      </div>
      
      <a href="https://link.mercadopago.com.ar/TU_LINK_AQUI" target="_blank" class="float-button">
        <span class="icon">❤</span>
        <span class="text">Donar</span>
      </a>
      
    </div>

    <!-- Tarjeta Extra -->
    <div class="card">
      <img src="assets/sancayetano4.jpg" alt="Catequesis">
      <div class="card-info">
        <h3>Catequesis</h3>
        <p>Acompañamos a niños y adultos en su camino de fe.</p>
        <a href="https://wa.me/TUNUMERO" target="_blank" class="btn-whatsapp">
          <i class="fa-brands fa-whatsapp"></i> Participar
        </a>
      </div>
    </div>

    <div class="card">
      <img src="assets/iglesia4.jpg" alt="Catequesis">
      <div class="card-info">
        <h3>Alpha</h3>
        <p>Vaya uno a saber lo que se hace aca.</p>
        <a href="https://wa.me/TUNUMERO" target="_blank" class="btn-whatsapp">
          <i class="fa-brands fa-whatsapp"></i> Participar
        </a>
      </div>
    </div>


    <!-- <div class="card">
      <img src="assets/confesion.jpg" alt="Imagen">
      <div class="card-info">
        <h3>Confesion</h3>
        <p>Visitanos cuando quieras</p>
        <a href="https://wa.me/TUNUMERO" target="_blank" class="btn-whatsapp">
          <i class="fa-brands fa-whatsapp"></i> Participar
        </a>
      </div>
    </div> -->

    <!-- Tarjeta Extra -->
    <div class="card">
      <img src="assets/sancayetano3.jpg" alt="Imagen">
      <div class="card-info">
        <h3>Misas</h3>
        <p>Nos comparte el padre Marcelo la palabra de Dios.</p>
        <a href="https://wa.me/TUNUMERO" target="_blank" class="btn-whatsapp">
          <i class="fa-brands fa-whatsapp"></i> Participar
        </a>
      </div>
    </div>

    </div>
    <button class="arrow-btn right" id="nextBtn"><i class="fa-solid fa-chevron-right"></i></button>
  </div>
</section>


<app-req-bautismos *ngIf="mostrarReqBautismos" (close)="mostrarReqBautismos = false"></app-req-bautismos>
