  <div class="social-container">

    <div class="social-card">
      <div class="ig-header">
        <i class="fa-brands fa-instagram"></i>
        <span>@sancayetanorosario</span>
      </div>
    
      <div class="ig-body">
        <span>El patrono del pan y del trabajo</span>
        <div class="ig-grid">
          <!-- Foto 1 -->
          <a href="https://www.instagram.com/sancayetanorosario/" target="_blank">
            <img src="assets/sancayetano1.jpg" alt="Post Instagram">
          </a>
          <!-- Foto 2 -->
          <a href="https://www.instagram.com/sancayetanorosario/" target="_blank">
            <img src="assets/sancayetano3.jpg" alt="Post Instagram">
          </a>
          <!-- Foto 3 (El QR) -->
          <a href="https://www.instagram.com/sancayetanorosario/" target="_blank">
            <img src="assets/ig_qr.png" alt="QR Instagram">
          </a>
          <!-- Foto 4 (Sugerencia: Repetí una o agregá otra para completar el cuadrado) -->
          <a href="https://www.instagram.com/sancayetanorosario/" target="_blank">
            <img src="assets/sancayetano4.jpg" alt="Post Instagram">
          </a>
        </div>
    
        <a href="https://www.instagram.com/sancayetanorosario/" target="_blank" class="ig-btn">
          Ver en Instagram
        </a>
      </div>
    </div>


    <!-- Tu iframe de Facebook -->
    <div class="social-card">
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FParroquiaSanCayetanoRosario&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" 
              width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
      </iframe>
    </div>


  </div>





