<div class="card">
    <img src="assets/images/comunidad/comunidad-caritas.webp" alt="Caritas">
    <div class="card-info">
        <h3>Cáritas</h3>
        <!-- <p>Manos en obra apoyando a la comunidad.</p> -->
        <ul class="card-menu">
            <li (click)="modalActivo = 'ropa'">
                <i class="fa-solid fa-chevron-right"></i> Ropa
            </li>
            <li (click)="modalActivo = 'alimentos'">
                <i class="fa-solid fa-chevron-right"></i> Alimentos
            </li>
            <li (click)="modalActivo = 'apoyo'">
                <i class="fa-solid fa-chevron-right"></i> Clases de apoyo
            </li>
            <li (click)="modalActivo = 'becas'">
                <i class="fa-solid fa-chevron-right"></i>Becas
            </li>
            <li (click)="modalActivo = 'tiempos'">
                <i class="fa-solid fa-chevron-right"></i> Tiempos compartidos
            </li>
        </ul>


        <app-whatsapp></app-whatsapp>
    </div>
</div>
<app-ropa *ngIf="modalActivo === 'ropa'" (close)="modalActivo = null"></app-ropa>
<app-alimentos *ngIf="modalActivo === 'alimentos'" (close)="modalActivo = null"></app-alimentos>
<app-apoyo-escolar *ngIf="modalActivo === 'apoyo'" (close)="modalActivo = null"></app-apoyo-escolar>
<app-becas *ngIf="modalActivo === 'becas'" (close)="modalActivo = null"></app-becas>
<app-tiempos-compartidos *ngIf="modalActivo === 'tiempos'" (close)="modalActivo = null"></app-tiempos-compartidos>