<main>
  <app-nav></app-nav>
  <app-hero></app-hero>
  <app-comunidad></app-comunidad>


  <app-donaciones></app-donaciones>
  <app-redes></app-redes>

  
  <section class="info-cultura">
    <div class="info-card">
      <img src="assets/historia-iglesia.jpg" alt="Historia">
      <h3>Nuestra Historia</h3>
      <!-- <button (click)="mostrarHistoria = true">Conocer más</button> -->
    </div>
  
    <div class="info-card">
      <img src="assets/san-cayetano-img.jpg" alt="San Cayetano">
      <h3>¿Quién fue San Cayetano?</h3>
      <!-- <button (click)="mostrarBio = true">Ver Biografía</button> -->
    </div>
  </section>
  
  <!-- El componente de texto que está oculto -->
  <!-- <app-historia-modal *ngIf="mostrarHistoria" (close)="mostrarHistoria = false"></app-historia-modal> -->
  <!-- <app-biografia-modal *ngIf="mostrarBiografia" (close)="mostrarBiografia = false"></app-biografia-modal> -->



</main>




<footer class="main-footer">
  <div class="footer-content">
    <div class="footer-info">
      <h3>Parroquia San Cayetano</h3>
      
      <a href="https://maps.app.goo.gl/nY9sowgC8uvvB9Dp8" target="_blank" class="footer-link">
        <i class="fa-solid fa-location-dot"></i>
        Buenos Aires 2158, Rosario 
      </a>

      <a href="mailto:sancayetano.ros@gmail.com" class="footer-link">
        <i class="fa-solid fa-envelope"></i>
        sancayetano.ros@gmail.com
      </a>
    </div>

    <div class="footer-hours">
      <p><strong>Secretaría:</strong></p>
      <p>341-3-535467</p>
      <p>Lunes a Viernes: 16:00 a 19:00 hs</p>
    </div>
  </div>
  
  <div class="footer-bottom">
    <p>&copy; 2026 Parroquia San Cayetano - Rosario</p>
  </div>
</footer>