<section class="instagram-preview">
  <h3>Noticias</h3>
  <p>Seguinos ver las noticias</p>
  
  <div class="grid-fotos">
    <div class="foto-card">
      <img src="assets/sancayetano2.jpg" alt="Actividad 1">
    </div>
    <div class="foto-card">
      <img src="assets/sancayetano3.jpg" alt="Actividad 2">
    </div>
    <!-- Aquí podrías repetir la 1 o dejar espacio para una futura -->
    <div class="foto-card placeholder">
      <a href="https://www.instagram.com/sancayetanorosario/" target="_blank">Ver más en Instagram</a>
    </div>
  </div>
</section>