<nav class="navbar">
  <!-- <div class="logo">San Cayetano</div> -->
<div class="logo"></div>
  <div class="nav-social">
    <a href="https://www.instagram.com/sancayetanorosario/" target="_blank" class="nav-link-icon">
      <i class="fa-brands fa-instagram"></i> <!-- Logo Real de Instagram -->
    </a>
    <a href="https://www.facebook.com/ParroquiaSanCayetanoRosario" target="_blank" class="nav-link-icon">
      <i class="fa-brands fa-facebook-f"></i> <!-- Logo Real de Facebook -->
    </a>
  </div>
</nav>