<div class="card">
    <img src="assets/images/comunidad/comunidad-liturgia.webp" alt="Liturgia">
    <div class="card-info">
        <h3>Liturgia</h3>
        <ul class="card-menu">
            <li (click)="modalActivo = 'expedito'">
                <i class="fa-solid fa-chevron-right"></i> 19 de Abril: Fiesta de San Expedito
            </li>
            <li (click)="modalActivo = 'pio'">
                <i class="fa-solid fa-chevron-right"></i> 23 de Setiembre: Fiesta de San Pío de Pietralcina
            </li>
            <li (click)="modalActivo = 'patronal'">
                <i class="fa-solid fa-chevron-right"></i> 7 de Agosto: Fiesta Patronal de San Cayetano
            </li>
            <li>
                Conmemoramos: Los días 7: a San Cayetano - Los días 19: a San Expedito - Los días 23: a San Pío de Pietralcina - Los días 25 de cada mes: bendiciones a embarazadas. 
            </li>
        </ul>
       
        <app-whatsapp></app-whatsapp>
    </div>
</div>

<app-san-expedito *ngIf="modalActivo === 'expedito'" (close)="modalActivo = null"></app-san-expedito>
<app-san-pio-pietralcina *ngIf="modalActivo === 'pio'" (close)="modalActivo = null"></app-san-pio-pietralcina>
<app-patronal *ngIf="modalActivo === 'patronal'" (close)="modalActivo = null"></app-patronal>