<nav class="navbar">
    <div class="logo">San Cayetano</div>
  
    <!-- El checkbox que controla el menú -->
    <!-- <input type="checkbox" id="menu-toggle" class="menu-toggle"> -->
    <input type="checkbox" id="menu-toggle" class="menu-toggle" #menuInput>
    
    <!-- El icono de hamburguesa -->
    <label for="menu-toggle" class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </label>
  
    <ul class="nav-links">
      <li><a href="#comunidad" (click)="closeMenu(menuInput)">Comunidad</a></li>
      <li><a href="#novedades" (click)="closeMenu(menuInput)">Novedades</a></li>
      <li><a href="#donar" (click)="closeMenu(menuInput)">Donaciones</a></li>
      <li><a href="https://www.instagram.com/sancayetanorosario/" target="_blank" (click)="closeMenu(menuInput)">Instagram</a></li>
      <li><a href="https://www.facebook.com/ParroquiaSanCayetanoRosario" target="_blank" (click)="closeMenu(menuInput)">Facebook</a></li>
    </ul>
  </nav>