<div class="card">
    <img src="assets/images/comunidad/comunidad-actividad-social.webp" alt="Actividad Social">
    <div class="card-info">
        <h3>Actividad Social</h3>
        <!-- <p>Manos en obra apoyando a la comunidad.</p> -->
        <ul class="card-menu">
            <li (click)="modalActivo = 'alcoholicos'">
                <i class="fa-solid fa-chevron-right"></i> Apoyo a personas en situación de alcoholismo
            </li>
            <li (click)="modalActivo = 'narcoticos'">
                <i class="fa-solid fa-chevron-right"></i> Apoyo a personas en situación de adicción a narcóticos
            </li>
        </ul>
       
        <app-whatsapp></app-whatsapp>
    </div>
</div>
<app-alcoholicos *ngIf="modalActivo === 'alcoholicos'" (close)="modalActivo = null"></app-alcoholicos>
<app-narcoticos *ngIf="modalActivo === 'narcoticos'" (close)="modalActivo = null"></app-narcoticos>