<div class="modal-overlay" (click)="cerrar()">
    <div class="book-page" (click)="$event.stopPropagation()">
      <button class="close-btn" (click)="cerrar()">&times;</button>
      <h2>Biografía de San Cayetano</h2>
      <div class="content">
        <p>
            Gaspar Thiene y María Porto en 1475 forman un matrimonio del cual nacen tres hijos: Juan Bautista, Alejandro y Cayetano (nace en Octubre de 1480). 
            Cuando Cayetano tenía dos años su papá fallece y su mamá, mujer de fe que sufre la ausencia de su compañero, educa a sus hijos en la fe cristiana. Los niños aprenden de labios de su mamá que Dios es nuestro Padre y que nos cuida siempre con amor.
            Después de concluir sus estudios primarios, Cayetano frecuenta la universidad de Padua en donde se doctora en Derecho Civil y Derecho Eclesiástico. Cuatro años más tarde vuelve a Vicenza graduado en jurisprudencia, no obstante Dios le llama a la vocación consagrada. En 1504 recibe la tonsura clerical, se retira a Rampazzo donde hace construir una capilla como lugar de culto.
            En 1506 se trasladó a Roma. Hasta allí ya había llegado la fama de su virtud y creciente santidad, por eso el Papa Julio II deseaba conocerlo. En el primer encuentro quedó prendado de sus cualidades y lo nombró protonotario.
            
            En 1515 fue admitido al Oratorio del Divino Amor en el barrio del Trastévere, donde un grupo de laicos y algunos clérigos buscaban la santificación personal a través de la oración intensa y de la comunión frecuente. Trabajaban infatigablemente en obras de caridad, sobre todo al servicio de los enfermos incurables, que eran abandonados en las calles. 
        
            El 30 de setiembre de 1517 fue ordenado sacerdote, pero pasó tres meses de preparación antes de celebrar por primera vez la santa misa el 6 de enero de 1517, en la capilla del Santo Pesebre de la basílica de Santa María la Mayor, en Roma.
            El día de Navidad, 25 de diciembre de 1517, en la misma Iglesia de su primer misa, tiene la visión de la Virgen María, quién le entrega en sus brazos, al Niño Jesús, relatado por él, en una carta dirigida a Laura Mignani del 15 de Febrero de 1518.
        
            En 1527 se produce en Italia el llamado “Saqueo de Roma” por las tropas de Borbón. Un alemán que había estado al servicio de la familia de Cayetano, suponiendo que este aún conservaba las riquezas de su familia, se dirigió al convento deseoso del botín sin encontrar nada. Para obligarlo a confesar lo molieron a palos, lo colgaron de las piernas, lo levantaban por los aires y luego lo soltaban cayendo al pavimento como una bolsa. 	Finalmente todo termina cuando los saqueadores se dan cuenta que no hay bienes para repartirse.
        
            Nápoles ve los últimos años de Cayetano. Entregado a la vida de oración y dirección de almas, en su última enfermedad el médico aconsejo que lo acostaran sobre un colchón de lana y el santo exclamó: “Mi salvador murió sobre una tosca cruz. Por favor permítanme a mí que soy un pobre pecador morir sobre unas tablas”. Y así murió el 7 de agosto del año 1547, en Nápoles, a la edad de 67 años.	
        
        </p>
      </div>
    </div>
  </div>