<!-- <div class="donation-container">
    <h2>Colaborá con nuestra comunidad</h2>
    <p>Tu donación nos ayuda a mantener las actividades y el comedor.</p>
    
    <a href="TU_LINK_DE_MERCADO_PAGO" target="_blank" class="btn-mp">
      Donar con Mercado Pago
    </a>
  </div> -->

  <section class="donar-box">
    <h2>Ayudanos a seguir creciendo</h2>
    <p>Tu colaboración es fundamental para nuestras obras sociales.</p>
    
    <a href="https://mpago.la/TU_LINK" target="_blank" class="btn-mercadopago">
      Colaborar con Mercado Pago
    </a>
  </section>