

  <a href="https://link.mercadopago.com.ar/TU_LINK_AQUI" target="_blank" class="float-button">
    <span class="icon">❤</span>
    <span class="text">Donar</span>
  </a>

  <a href="#donar" class="float-button">
    <span class="icon">❤</span>
    <span class="text">Donar</span>
  </a>
  <section class="donar-box">
    <h2>Ayudanos a seguir creciendo</h2>
    <p>Tu colaboración es fundamental para nuestras obras sociales.</p>
    
    <a href="https://mpago.la/TU_LINK" target="_blank" class="btn-mercadopago">
      Colaborar con Mercado Pago
    </a>
  </section>

  